{% extends 'base.html' %}

{% block title %}Add Assessment{% endblock %}

{% block content %}
<h2 class="section-title">Add Assessment</h2>
<p class="section-subtitle">
    Add a new assessment for {{ course.course_name }} ({{ course.course_code }})
</p>

<form method="POST">
    <label>Assessment Name</label>
    <input type="text" name="assessment_name" placeholder="Assignment 1" required>

    <label>Assessment Type</label>
    <input type="text" name="assessment_type" placeholder="Assignment / Quiz / Exam / Lab" required>

    <label>Max Marks</label>
    <input type="number" step="0.01" name="max_marks" min="1" required>

    <label>Weightage</label>
    <input type="number" step="0.01" name="weightage" min="0.01" max="100" required>

    <button type="submit">Add Assessment</button>
</form>
{% endblock %}