{% extends 'base.html' %}
{% block title %}Edit Teacher{% endblock %}
{% block content %}

<h2 class="section-title">Edit Teacher</h2>

<form method="POST">
    <label>Name</label>
    <input type="text" name="teacher_name" value="{{ teacher.teacher_name }}" required><br>

    <label>Email</label>
    <input type="email" name="email" value="{{ teacher.email }}"><br>

    <label>Department</label>
    <input type="text" name="department" value="{{ teacher.department }}"><br>

    <button type="submit">Update Teacher</button>
</form>
{% endblock %}